.basicinfocontainer {
    box-sizing: border-box;
    position:relative;
    width: 100%;
}

.detailscontainer {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 1% 0;
}

.infodiv {
    box-sizing: border-box;
    display:table-cell;
    width: calc(60% - 1em);
    margin-right: .5em;
    vertical-align: top;
}

.pricediv {
    display: table-cell;
    width: 40%;
}

.pricediv > div{
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 1em);
    margin-left: 1em;
    vertical-align: top;
}

.freserva {
    width:95%;
    display:inline-block;
    margin: 10px 0 10px 0;
    line-height: 150%;
}

#fhuesped {
    width: 20%;
    margin-right: 20px;
}

td {
    padding: 5px 15px;
}

#imagedetails {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 30vw;
    max-height: 45vw;
}

#reservabutton {
    font-size: 1em;
    padding: 0.8em 2em;
}